.newsCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .date {
    margin-top: 0.2rem;
  }

  .imgContainer {
    position: relative;
    height: 22rem;

    img {
      object-fit: cover;
    }
  }

  .title {
    width: 90%;
  }
}
