.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-rows: repeat(4, 13.5rem);
}

@media screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
