.container {
  position: relative;
  height: 10rem;

  display: flex;
  flex-wrap: nowrap;

  .carousel {
    height: 100%;
    display: flex;
    align-items: center;

    animation: 15s slide infinite linear;
    img {
      margin: 0 5rem;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
