.headerImg {
  margin: 18rem 0 12rem 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .headerImg {
    margin: 2rem 0;
  }
}

.marginTopSection {
  margin-top: 10rem;
}

.wide_line {
  width: 100%;
  height: 0.5rem;
  background-color: #333333;
}

.thin_line {
  width: 100%;
  height: 0.0625rem;
  background-color: #333333;
}

.sections_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

@media screen and (max-width: 900px) {
  .marginTopSection {
    margin-top: 5rem;
  }

  .sections_grid {
    grid-template-columns: 1fr;
  }
}

.mainAboutSection {
  .aboutSectionContent {
    margin-top: 4rem;
    min-height: 11.25rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    img {
      grid-column: 2 / 4;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .aboutSectionContentSec {
    display: grid;
    margin-top: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);

    img {
      grid-column: 1 / 3;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .textContainer {
      grid-column: 4 / 7;
      line-height: 140%;

      p {
        position: relative;
      }

      p::before {
        content: "«";
        position: absolute;
        left: -1rem;
        top: 0;
      }
    }
  }
}

.about_mobile {
  display: none;
}
.about_second_mobile {
  margin-top: 4rem;
  display: none;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  span {
    display: inline-block;
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
  }
}

.aboutSectionContentSec_mobile {
  margin-top: 1rem;
  display: none;
}

@media screen and (max-width: 900px) {
  .mainAboutSection {
    margin-top: 0;
  }

  .aboutSectionContentSec {
    display: none !important;
    margin-top: 0;

    img {
      display: none;
    }
  }
  .aboutSectionContentSec_mobile {
    display: block;
  }

  .about_desc {
    display: none;
  }

  .about_mobile {
    display: block;
  }

  .about_second_mobile {
    display: block;
  }
}
