$color-primary: #333333;
$color-accent: #ff3129;
$color-white: white;

:export {
  primaryColor: $color-primary;
  accentColor: $color-accent;
  white: $color-white;
}

.textMain {
  color: $color-primary;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.95rem;
}

.textSec {
  color: $color-primary;
  font-size: 1.25rem;
  line-height: 130%;
}

.textTitle {
  color: $color-primary;
  font-size: 4.4rem;
  margin-top: 1.5rem;
  font-style: normal;
  line-height: 110%;
}

.textSubtitle {
  color: $color-primary;
  font-size: 2rem;
}

.container {
  width: 100%;
  padding: 0 2rem;
}

@media screen and (max-width: 900px) {
  .textTitle {
    font-size: 2.3rem;
  }

  .textMain {
    font-size: 1.3rem;
  }

  .textSubtitle {
    color: $color-primary;
    font-size: 1.5rem;
  }

  .container {
    padding: 0 1rem;
  }
}
/* 
@media screen and (max-width: 600px) {
  .textTitle {
    font-size: 2rem;
  }

  .container {
    padding: 0 1rem;
  }
}
 */
