$color-primary: #333333;
$color-accent: #ff3129;
$color-white: white;

:export {
  primaryColor: $color-primary;
  accentColor: $color-accent;
  white: $color-white;
}

.textMain {
  color: $color-primary;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.95rem;
}
