.button {
  div {
    display: inline-block;
    height: 1rem;
    margin-right: 0.5rem;
  }
}

/* 
@media screen and (max-width: 900px) {
  .button {
    div {
      text-align: center;
      width: 100% !important;
      padding: 1rem 2rem !important;
    }
  }
} */
