.gallery {
  cursor: pointer;
  height: 13rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.imgContainer {
  position: relative;
  width: 2.75rem;
  height: 1.9375rem;
  transform: scale(120%);
  overflow: hidden;

  .imgSlider {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    width: 100%;
    height: 100%;
    position: relative;
    left: -110%;

    img {
      object-fit: contain;
    }
  }
}

.gallery h1 {
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}

.gallery:hover .imgContainer .imgSlider {
  left: 0;
}

.gallery:hover h1 {
  padding-left: 1rem;
  opacity: 0.4;
}

.gallery_mobile {
  display: none;
  margin-top: 1rem;

  border-bottom: 1px solid #333333;

  .preview {
    position: relative;
    width: 100%;
    height: 15rem;
    img {
      object-fit: cover;
    }
  }

  .gallery_mobile_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .gallery {
    display: none;
  }

  .gallery_mobile {
    display: block;
  }
}
