.filterContainer {
  margin-top: 1.5rem;

  .tags {
    display: flex;
    gap: 1.5rem;
    color: #9e9e9e;
    flex-wrap: wrap;

    p {
      cursor: pointer;
      padding-bottom: 0.2rem;
      transition: 0.2s;
    }
    .tagActive {
      color: #333;
      border-bottom: 1px solid #333;
    }
  }
}

.projectsGrid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  .projectsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .projectsGrid {
    grid-template-columns: 1fr;
  }
}
