.projectCard {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .slider {
    width: 100%;
    height: 100%;
    position: relative;

    .imgContainer {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        object-fit: cover;
      }
    }

    .content {
      width: 100%;
      min-height: 8.5rem;
      background-color: white;

      position: absolute;

      padding: 0.75rem 0 0;
    }

    .tagsContainer {
      margin-top: 0.2rem;
      display: flex;
      gap: 1rem;

      p {
        color: #727272;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .projectCard {
    grid-column: auto !important;
    grid-row: auto !important;
    min-height: 24rem;

    .slider {
      height: auto;
      bottom: 0 !important;

      .imgContainer {
        height: 24rem;
      }

      .content {
        position: relative;

        padding: 0.75rem 0 0;
      }
    }
  }
}
