.main {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.award {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  position: relative;
  justify-content: space-between;

  span {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }

  p {
    position: absolute;
    right: 0;

    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.award:hover {
  span {
    padding-left: 1rem;
  }

  p {
    border-bottom: 1px solid #333333;
    padding-bottom: 0.2rem;
  }
}

@media screen and (max-width: 900px) {
  .award {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;

    border-bottom: #333333 1px solid;

    p {
      position: inherit;
    }
  }

  .award:hover {
    span {
      padding-left: 0;
    }

    p {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
